.DS_Store
.idea
.vagrant
.vscode
.vscodeignore
jsconfig.json
docker-compose.yml.*
.tm_properties
target
scala_services/results
tmp/
test-reports/
Platform/public/platform/assets
*.iml
.byebug_history
libsigar-universal64-macosx.dylib
artifacts/
incoming/